<h2 mat-dialog-title>Select Files to Download</h2>
<mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let file of data.fileNames" (click)="toggleSelection(file)">
      <mat-checkbox [checked]="selectedFiles.includes(file)">{{ file.length > 30 ? file.slice(0, 27) + '...' : file }}</mat-checkbox>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="confirmSelection()">Download</button>
</mat-dialog-actions>
