.main-content {
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
}

.instructions-container {
    padding-bottom: 10px;
    
}

.container::-webkit-scrollbar {
    display: none;
}

.disable-button {
    background-color: red !important;
    color: white !important;
    border: none !important;
}

.disable-button:hover {
    background-color: darkred !important;
    color: white !important;
}

.disable-button:disabled {
    background-color: rgba(139, 0, 0, 0.267) !important;
    color: white !important;
}

@media screen and (max-width: 600px) {
    .main-content {
        overflow: hidden;
    }

    mat-dialog-actions {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    mat-dialog-actions button {
        flex: 1;
        width: 100px;
    }

    .instructions-container {
        font-size: 10px;
    }

    .share-container {
        font-size: 10px;
    }
}
