/* Style for Submit Button */
.submit-button {
    width: 500px;
    background-color: #78fd95;
    color: #006600;
    font-size: 16px;
    font-weight: bold;
}

/* Submit Button Hover and Focus States */
.submit-button:hover, .submit-button:focus {
    background-color: #006600;
    color: white;
    outline: none;
    box-shadow: none;
}

/* Style for Close Button */
.close-button {
    color: #006600 !important;
    background-color: transparent; 
    border: none;
    font-size: 16px;
}

/* Close Button Hover and Focus States */
.close-button:hover, .close-button:focus {
    background-color: #78fd95;
    color: #006600 !important;
    outline: none;
    box-shadow: none;
}

/* Remove Scrollbar */
mat-dialog-content {
    overflow: hidden;
    padding-top: 2%;
}

/* Mat Form Field Styling */
mat-form-field {
    width: 100%;
}

/* Fix for mat-error inside mat-form-field */
mat-error {
    font-size: 14px;
    color: red;
}

/* Style for Send Button */
.send-button {
    color: #006600;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: transparent; 
    border: none;
    padding: 12px 24px;
    width: 500px;
}

/* Send Button Hover and Focus States */
.send-button:hover, .send-button:focus {
    background-color: #78fd95;
    color: #006600;
    outline: none;
    box-shadow: none;
}

