.calendar-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.calendar-header {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-event-container button {
    font-size: 20px;
    color: #006600;
    width: 450px;
    max-width: 450px;
}

.create-event-container button:disabled {
    background-color: #c4ffd1;
    color: #00660077 !important;
    border: 2px solid #006600;
    cursor: not-allowed;
}

.share-schedule-container button {
    font-size: 20px;
    color: #006600;
    width: 450px;
    max-width: 450px;
}

.share-schedule-container button:disabled {
    background-color: #c4ffd1;
    color: #00660077 !important;
    border: 2px solid #006600;
    cursor: not-allowed;
}

.navigation-buttons {
    font-size: 20px;
    color: #006600;
    width: 450px;
    max-width: 450px;
}

.time-navigation {
    gap: 10px;
    width: 300px;
}

html, body {
    overflow: hidden;
}

.calendar-grid {
    display: grid;
    grid-template-columns: 50px repeat(7, 1fr);
    gap: 4px;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    align-items: stretch;
}

.time-labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 1px;
  margin-top: 2px;
}

.time-label {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.calendar-day {
    background-color: #ffffff;
    padding: 8px;
    min-height: 250px;
    width: 120px;
    border: 1px solid #006600;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: inset 0 0 8px rgba(0, 102, 0, 0.1);
}

.time-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.hour-cell {
    height: 50px;
    border-bottom: 1px solid #006600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafffa;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.hour-cell:hover {
    background-color: #e0ffe0;
}

.calendar-event {
    background-color: #006600;
    font-size: 13px;
    color: white;
    width: 86%;
    position: absolute;
    left: 2%;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar-container-buttons {
    display: flex;
    flex-direction: row;
}
  
.email-container {
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.email-label {
    font-weight: bold;
}