<div class="calendar-header">
  <div style="padding-bottom: 10px; padding-top: 16px;">
    <mat-card class="email-container">
      <mat-card-content>
        <span class="email-label">{{ username }}</span>
      </mat-card-content>
    </mat-card>
  </div>
  
  
  <div style="text-align: center;">
    <button mat-button (click)="navigate(-1)">
      &lt;
    </button>
    <button mat-button (click)="navigate(1)">
      &gt;
    </button>
  </div>

  <div style="text-align: center; padding-bottom: 15px;">
    <button mat-icon-button (click)="navigateHours(-1)" [disabled]="visibleHourStart === 0">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateHours(1)" [disabled]="visibleHourStart + visibleHourCount >= 24">
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>
</div>

<div class="calendar-grid">

  <div class="time-labels" style="padding-top: 50px !important;">
    <div *ngFor="let hour of hours.slice(visibleHourStart, visibleHourStart + visibleHourCount)" class="time-label">
      {{ hour }}:00
    </div>
  </div>
  
  <div class="calendar-grid">
    <div class="time-labels">
      <div *ngFor="let hour of hours.slice(visibleHourStart, visibleHourStart + visibleHourCount + 1)" class="time-label">
        <div *ngIf="hour!==visibleHourStart">
          {{ hour }}:00
        </div>
      </div>
    </div>
    <div *ngFor="let day of calendarDays" class="calendar-day">
      <div class="day-label">{{ day.date.format('ddd, MMM D') }}</div>
      <div class="time-grid">
        <div *ngFor="let hour of hours.slice(visibleHourStart, visibleHourStart + visibleHourCount)" class="hour-cell">
          <div *ngIf="hour !== visibleHourStart && hasEventAtTime(day, hour)" 
                class="calendar-event" 
                [style.height.px]="getEventHeight(day, hour)"
                [style.top.px]="getEventTop(day, hour)">
            {{ getEventAtTime(day, hour) ? 'Busy' : '' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
