<h1 style="font-size: 50px; text-align: center; padding-top: 1%;">Checkers File Backup</h1>
<div class="settings-wheel" (click)="openAccountDialog()">
  <mat-icon>settings</mat-icon>
</div>
<div class="container">
  <div style="padding-bottom: 5%;">
    <button mat-button tabindex="-1" (click)="selectFilesAndUpload()" style="font-size: 40px; padding: 40px 80px;">Upload Files</button>
  </div>
  <div>
    <button mat-button tabindex="-1" (click)="selectFilesAndDownload()" style="font-size: 40px; padding: 40px 80px;">Download Files</button>
  </div>
</div>