.settings-wheel, .home-icon {
  position: fixed;
  top: 2.5%;
  background-color: #b3ffc4;
  border: 2px solid #006600;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 910;
}

.settings-wheel { right: 2%; }
.home-icon { left: 2%; }

.settings-wheel mat-icon, .home-icon mat-icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #006600;
}

.settings-wheel:hover, .home-icon:hover {
  background-color: #78fd95;
  border: 2px solid #78fd95;
}

.calendar-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
}


.calendar-header {
  width: 100%;
  max-width: 900px;
}

.create-event-container button {
  font-size: 20px;
  color: #006600;
  width: 450px;
  max-width: 450px;
}

.create-event-container button:disabled {
  color: #00660077 !important;
  cursor: not-allowed;
}

.share-schedule-container button {
  font-size: 20px;
  color: #006600;
  width: 450px;
  max-width: 450px;
}

.navigation-buttons {
  font-size: 20px;
  color: #006600;
  width: 450px;
  max-width: 450px;
}

.time-navigation {
  gap: 10px;
  width: 300px;
}

html, body {
  overflow: hidden;
}

.calendar-grid {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
  gap: 4px;
  width: 100%;
  max-width: 700px;
  justify-content: center;
  align-items: stretch;
}

.time-labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 140%;
  gap: 1px;
  margin-top: 2px;
  margin-left: -20px;
}

.time-label {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.calendar-day {
  background-color: #ffffff;
  padding: 8px;
  min-height: 250px;
  width: 120px;
  border: 1px solid #006600;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: inset 0 0 8px rgba(0, 102, 0, 0.1);
}

.time-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.hour-cell {
  height: 50px;
  border-bottom: 1px solid #006600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafffa;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.hour-cell:hover {
  background-color: #e0ffe0;
  cursor: pointer;
}

.calendar-event {
  background-color: #006600;
  font-size: 13px;
  color: white;
  width: 86%;
  position: absolute;
  left: 2%;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar-container-buttons {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
}
