<div class="home-icon" (click)="navigateHome()">
  <mat-icon>home</mat-icon>
</div>
<div class="settings-wheel" (click)="openAccountDialog()">
  <mat-icon>settings</mat-icon>
</div>

<div class="calendar-container">
  <div class="calendar-header">
    <div class="calendar-container-buttons">
      <div class="create-event-container">
        <button mat-button color="primary" (click)="createEvent()" [disabled]="this.auth.hasRole('demo_user')">
          &nbsp;Create Event&nbsp;
        </button>
      </div>
      <div class="share-schedule-container">
        <button mat-button color="primary" (click)="openShareScheduleForm()">
          Share Schedule
        </button>
      </div>
    </div>

    <div style="text-align: center; padding-bottom: 20px;">
      <button mat-button (click)="navigate(-1)" style="color: #006600;">
        &lt;
      </button>
      <button mat-button (click)="navigate(1)" style="color: #006600;">
        &gt;
      </button>
    </div>
  </div>

  <div style="display: flex; flex-direction: row;">
    <div class="calendar-grid">
      <div class="time-labels">
        <div *ngFor="let hour of hours.slice(visibleHourStart, visibleHourStart + visibleHourCount + 1)" class="time-label">
          <div *ngIf="hour!==visibleHourStart" style="font-size: smaller; padding-right: 5px;">
            {{ (hour % 12 === 0 ? 12 : hour % 12) }}:00 {{ hour < 12 ? 'AM' : 'PM' }}
          </div>
        </div>
      </div>
      <div *ngFor="let day of calendarDays" class="calendar-day" (wheel)="onScroll($event, day)">
        <div class="day-label">{{ day.date.format('ddd, MMM D') }}</div>
        <div class="time-grid">
          <div *ngFor="let hour of hours.slice(visibleHourStart, visibleHourStart + visibleHourCount)" class="hour-cell" (click)="onHourSelected(day, hour)">
            <div *ngIf="hour !== visibleHourStart && hasEventAtTime(day, hour)" 
                  class="calendar-event" 
                  [style.height.px]="getEventHeight(day, hour)"
                  [style.top.px]="getEventTop(day, hour)" 
                  (click)="updateEvent(getEventAtTime(day, hour))">
              {{ (getEventAtTime(day, hour)?.name?.length ?? 0) > 14 
                  ? (getEventAtTime(day, hour)?.name | slice:0:14) + '...' 
                  : getEventAtTime(day, hour)?.name || '' }}
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div style="position: relative; top: 0; right: -180px; display: flex; flex-direction: column; justify-content: center;">
      <button mat-icon-button class="nav-arrow" (click)="navigateHours(-1)" [disabled]="visibleHourStart === 0">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button mat-icon-button class="nav-arrow" (click)="navigateHours(1)" [disabled]="visibleHourStart + visibleHourCount >= 24">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
  </div>
</div>
