<h3 style="text-align: center; padding-top: 1%;">Checkers Antivirus</h3>
<h1 style="text-align: center; padding-top: 1%;">File Integrity Management</h1>
<div class="settings-wheel" (click)="openAccountDialog()">
  <mat-icon>settings</mat-icon>
</div>
<div class="container">
  <!-- Add instructions here -->
  <p style="text-align: center; font-size: 18px;">
    Please select system files from the C:/Windows directory.
  </p>

  <button mat-button tabindex="-1" (click)="registerSystemFiles()" style="font-size: 40px; padding: 40px 80px;">Register System Files</button>
</div>
