html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.account-registration-container {
    background-color: #b3ffc4;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.account-registration-title {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #006600;
    margin-bottom: 20px;
}

.registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 3%;
}

.form-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 100%;
    margin-bottom: 3%;
}

.create-account-button {
    color: #006600 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
    background-color: transparent !important; 
    border: none !important;
    padding: 12px 24px !important;
    width: 500px;
}

.create-account-button:hover, .create-account-button:focus {
    background-color: #78fd95 !important;
    color: #006600 !important;
    outline: none !important;
    box-shadow: none !important;
}

.footer-links {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #006600;
}

.footer-links .link {
    color: #006600;
    cursor: pointer;
    text-decoration: underline;
}

.footer-links .link:hover {
    color: #78fd95;
}

mat-form-field input.mat-input-element,
mat-form-field input.mat-input-element:focus {
    border-color: #006600 !important;
}

mat-form-field .mat-form-field-infix input::placeholder {
    color: #006600 !important;
}

mat-form-field .mat-form-field-ripple {
    background-color: #006600 !important;
}
