<div class="account-registration-container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form">
        <div class="form-field-container">
            <mat-form-field class="input-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter Text Here" formControlName="email" />
                <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">Please enter a valid email address</mat-error>
            </mat-form-field>

            <mat-form-field class="input-field">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter Text Here" formControlName="password" />
                <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="registrationForm.get('password')?.hasError('password')">Please enter a valid password</mat-error>
            </mat-form-field>

            <mat-form-field class="input-field">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter Text Here" formControlName="confirmedPassword" />
                <mat-error *ngIf="registrationForm.get('confirmedPassword')?.hasError('confirmedPassword')">Please confirm password</mat-error>
            </mat-form-field>

            <div style="padding-bottom: 5px;"><button mat-raised-button type="submit" class="create-account-button">CREATE ACCOUNT</button></div>
        </div>
    </form>

    <div class="footer-links">
        <div>Already have an account?&nbsp;<span class="link" (click)="navigateToLoginForm()">Log in</span></div>
    </div>
</div>
