.file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
  }
  
  .file-card {
    margin: 10px;
  }
  
  mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  mat-card-title {
    font-size: 1rem;
  }