<div style="display: flex; flex-direction: column;">
  <div style="padding-top: 2%">
    <div class="container">
      <div class="button-container">
        <button mat-button tabindex="-1" (click)="openMyFiles()" style="font-size: 40px; padding: 40px 80px; color: #006600; width: 400px;">My Files</button>
      </div>
      <div class="vertical-rule"></div>
      <div class="button-container">
        <button mat-button tabindex="-1" (click)="openMyCalendar()" style="font-size: 40px; padding: 40px 80px; color: #006600; width: 400px;">My Calendar</button>
      </div>
    </div>
  </div>
</div>
